<div class="row featured__filter">
    @foreach (var item in Model)
    {
        var filterName = "c" + item.TheLoai.MaSo;
        <div class="col-lg-3 col-md-4 col-sm-4 mix @filterName">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" data-setbg="/Areas/Admin/Content/Photos/@item.HinhAnh">
                    <ul class="featured__item__pic__hover">
                        <li><a href="/Client/ProductDetail/Index/@item.IDSanPham.ToString()"><i class="fa fa-info"></i></a></li>
                        <li><a href="/Client/ShoppingCart/AddItem?productId=@item.IDSanPham&quantity=1"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a href="/ShopDetail/Index/@item.IDSanPham">@item.Ten</a></h6>
                    <h5>@String.Format("{0:n0}", item.GiaKhuyenMai) VNĐ</h5>
                </div>
            </div>
        </div>
    }
</div>

